DS_Store
cache/
log/
.*
!.gitignore
!.mailmap

*.class
*~
\#*#
bin/
*.orig
*.rej
*.swp
*.bak
work/
*.ini
*.tgz
*.tar.gz
*.tbz
*.tar.bz2
*.txz
*.tar.xz
*.gz
*.bz2
*.lzma
*.pyo
*.pyc
*.exe
*.bin
*.obj
*.elf
*.o
*.o.*
*.a
*.s
*.so
*.so.dbg
*.i
*.lst
*.patch
*.gcno

#Cross Referencer tags
tags
TAGS
GPATH
GRTAGS
GSYMS
GTAGS

#cscope
cscope.*
ncscope.*

# stgit generated dirs
patches-*

# quilt's files
patches
series

# autotools
autom4te.cache/
config.log
config.status
Makefile
config.h.in
stamp-*
include/config.h
Makefile.in
configure.in
configure
compile
depcomp
aclocal.m4
missing
install-sh
ar-lib
# S-OS
sos
*.2d
confdefs.h
*.log
objs/
tst-*.out
